// Colores
$color-main: #007c85;
$color-black: #020202;
$color-white: #ffffff;


// Fuentes
$font-main: 'Poppins', sans-serif;
$font-text: 'Archivo Narrow', sans-serif;
$font-title: 'Pacifico', cursive;
$font-titletwo: 'Viga', sans-serif;
$font-pa: 'Fredoka One', cursive;